<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="robots" content="noindex">
		<title>Astro Blog by Hashnode</title>
	</head>
	<body>

		<div class="flex relative flex-col justify-center items-center h-screen">
			<img
				class="w-full h-screen bg-center bg-cover blur-sm"
				alt="Background"
				src='/blog.jpg'
			/>

			<div class="absolute p-2 flex flex-col justify-center items-center z-10 bg-blue-50 lg:w-2/5 h-1/4 rounded-md">
				<div class="flex pb-5 mb-5 text-5xl text-blue-800">
					<p class="text-center">Astro Blog by Hashnode</p>
				</div>
				<div>
					<a
					  href="/blog"
					  class="bg-blue-400 text-white hover:bg-purple-900 p-3 rounded-lg text-lg mr-2"
					>
					  Navigate to the blog!
					</a>
				  </div>				  
			</div>
	</div>
	</body>
</html>